.home-container {
  font-family: 'Arial', sans-serif;
  color: #333;

  .hero {
    background-image: url('/assets/images/backgrounds/finale.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-text {
      text-align: center;
      color: #fff;

      h1 {
        font-size: 48px;
        margin-bottom: 20px;
      }

      p {
        font-size: 20px;
        margin-bottom: 30px;
      }

      button {
        background-color: #f0c040;
        color: #fff;
        padding: 15px 30px; /* Increase padding for a larger button */
        font-size: 22px; /* Increase font size for better readability */
        border: none;
        border-radius: 8px; /* Slightly increase border-radius for a more rounded look */
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */

        &:hover {
          background-color: #333;
          color: #fff;
        }
      }
    }
  }

  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    .about-image {
      flex: 1;
      img {
        width: 80%; /* Reduce size */
        max-width: 400px; /* Set a max-width */
        border-radius: 10px;
        transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */

        &:hover {
          transform: scale(1.1); /* Scale up on hover */
        }
      }
    }

    .about-text {
      flex: 1;
      padding-left: 50px;

      h2 {
        font-size: 32px;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 1.6;
      }
    }
  }
}
