<p-fieldset legend="Coach Management">
  <!-- Search Bar -->
  <div class="p-grid p-align-center p-justify-center search-container" style="margin-bottom: 20px;">
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
        </span>
        <input pInputText placeholder="Search by name" [(ngModel)]="searchName" />
        <button pButton type="button" label="Search" icon="pi pi-search" (click)="searchCoaches()"></button>
      </div>
    </div>
  </div>
   


  <!-- Table -->
  <p-table 
    #dt
    [value]="coaches"
    [paginator]="true" 
    [rows]="size" 
    [first]="first"
    [totalRecords]="totalRecords" 
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [rowsPerPageOptions]="[5, 10, 25]" 
    (onPage)="paginate($event)"
    [lazy]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>CIN</th>
      
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coach>
      <tr>
        <td>{{ coach.name }}</td>
        <td>{{ coach.email }}</td>
        <td>{{ coach.CIN }}</td>
        
        <td>
          <div style="display: flex; gap: 8px;">
          <button pButton type="button" icon="pi pi-info-circle" (click)="showCoachDetails(coach)"></button>
        
          <button pButton type="button" icon="pi pi-pencil" (click)="navigateToAddEditCoach(coach._id)"></button>
        
          <button pButton type="button" icon="pi pi-trash" (click)="deleteCoach(coach)"></button>
        </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="navigateToAddEditCoach()"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"  ></p-button>
    </ng-template>
  </p-table>

  <!-- Confirmation Dialog -->
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</p-fieldset>
